# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Temp files
temp/
tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-*

# OS
.DS_Store
Thumbs.db
*.pem

# Test coverage
coverage/
.nyc_output/

# Cache
.npm/
.eslintcache

# Prisma
prisma/*.db
prisma/*.db-journal
.vercel
